# Database Configuration
DB_HOST=fproject-dev-postgres.c9eksq6cmh3c.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=fproject_db
DB_USER=fproject_user
DB_PASSWORD=your_password_here

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# S3 Configuration
S3_BUCKET=library-bucket-youkkk

# Bedrock Model
BEDROCK_MODEL_ID=amazon.titan-image-generator-v2:0
