# Server Configuration
PORT=3000
BASE_PATH=/image

# AWS Configuration
AWS_REGION=us-east-1

# Agent Core Runtime ARN
AGENT_RUNTIME_ARN=arn:aws:bedrock-agentcore:us-east-1:324547056370:runtime/diary_orchestrator_agent-90S9ctAFht
